.contain1{
    align-items: center;
    justify-content: center;
}

.contain2{
    justify-content: space-between;
}

.adddoc {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .adddoc .row1 {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .adddoc .row2 {
    margin-top: 0px;
    margin-bottom: 0;
  }

  .adddoc option, .adddoc select{
    color:black;
    background-color: #f0e9f4;
  }

  .adddoc .row6{
    display: flex;
    justify-content: space-around;
    align-items:center;
  }