button{
    width:200px;
    height: 30px;
    background-color:#9083D5;
    border-radius: 15px;
}

.contain1 h1{
    margin-left: 100px;
}


table{
    background-color: #354B60;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  
}

select{
   background-color:   #354B60;
   color:white;
   width:120px;
}





th, td{
    color:white;
    width:150px;
    height: 70px;
    border: 2px solid black;   
}

.tableData{
    max-height: 500px;
    overflow-y:scroll;
}



.errorPrompt{
    color:white;
    font: large;
}

th{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

td{
    text-align: center;
    background-color:#5e83a6;
    font-size: large;
    font-weight: bold;
}


.adminAll .contain1{
    display: flex;
    margin:50px;
    justify-content: space-between;
    align-items: center;
}



